# APP METADATA
APP_NAME=""
APP_DESCRIPTION=""
APP_URL=""
APP_LOCALE=""
OG_IMAGE=""
TWITTER_IMAGE=:""
TWITTER_HANDLER=""

# SUPABASE DATABASE CONNECTION STRING
DATABASE_URL=""

# SUPABASE CONNECTION
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_ID=""

# SUPABASE SERVICE ROLE KEY
SECRET_SUPABASE_SERVICE_ROLE_KEY=""

